section[data-main] {
  overflow: hidden;
}

.spinner {
  background: transparent no-repeat center;
  display: block;
  margin: 15px auto;

  &.dotted {
    background-image: url('../images/spinner.gif');
    height: 11px;
  }
}

.rating_list{
  padding-top: 10px;
}

table th{
  text-align: left;
}

table td, table th{
  padding-right: 10px;
}

.rating_list {
  display: none;
}

.rating {
  cursor: pointer;
  clear: both;
  display: block;
}
.rating:after {
  content: '.';
  display: block;
  height: 0;
  width: 0;
  clear: both;
  visibility: hidden;
}
.cancel, .star {
  float: left;
  width: 34px;
  height: 32px;
  overflow: hidden;
  text-indent: -999em;
  cursor: pointer;
}
.star,
.star a {background: url('../images/star.png') no-repeat 0 0px;}

.cancel a,
.star a {
  display: block;
  width: 100%;
  height: 100%;
  background-position: 0 0px; // white
}

div.rating div.on a {
  background-position: 0 -32px; // yellow
}

div.rating div.hover a,
div.rating.mine div.on a,
div.rating div a:hover {
  background-position: 0 -64px; // red
}

.average-overview{
  display: none;
}

.rating, .average-overview {
  float: left;
}

.average-overview {
  margin-top: 10px;
}
